/* Display Grid */
.d-grid {
    display: grid
}

.grid-col-1 {
    grid-template-columns: repeat(1, 1fr)
}

.grid-col-2 {
    grid-template-columns: repeat(2, 1fr)
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr)
}

.grid-col-4 {
    grid-template-columns: repeat(4, 1fr)
}

.grid-col-5 {
    grid-template-columns: repeat(5, 1fr)
}

.grid-col-6 {
    grid-template-columns: repeat(6, 1fr)
}

.grid-col-7 {
    grid-template-columns: repeat(7, 1fr)
}

.grid-col-8 {
    grid-template-columns: repeat(8, 1fr)
}

.grid-col-9 {
    grid-template-columns: repeat(9, 1fr)
}

.grid-col-10 {
    grid-template-columns: repeat(10, 1fr)
}

.grid-col-11 {
    grid-template-columns: repeat(11, 1fr)
}

.grid-col-12 {
    grid-template-columns: repeat(12, 1fr)
}

.grid-gap-0 {
    grid-gap: 0
}

.grid-gap-05 {
    grid-gap: .5px
}

.grid-gap-1 {
    grid-gap: 1px
}

.grid-gap-2 {
    grid-gap: 2px
}

.grid-gap-3 {
    grid-gap: 3px
}

.grid-gap-1 {
    grid-gap: 1px
}

.grid-gap-4 {
    grid-gap: 4px
}

.grid-gap-5 {
    grid-gap: 5px
}

.grid-gap-6 {
    grid-gap: 6px
}

.grid-gap-7 {
    grid-gap: 7px
}

.grid-gap-8 {
    grid-gap: 8px
}

.grid-gap-9 {
    grid-gap: 9px
}

.grid-gap-10 {
    grid-gap: 10px
}

@media(min-width:768px) {
    .d-sm-grid {
        display: grid
    }

    .grid-col-sm-1 {
        grid-template-columns: repeat(1, 1fr)
    }

    .grid-col-sm-2 {
        grid-template-columns: repeat(2, 1fr)
    }

    .grid-col-sm-3 {
        grid-template-columns: repeat(3, 1fr)
    }

    .grid-col-sm-4 {
        grid-template-columns: repeat(4, 1fr)
    }

    .grid-col-sm-5 {
        grid-template-columns: repeat(5, 1fr)
    }

    .grid-col-sm-6 {
        grid-template-columns: repeat(6, 1fr)
    }

    .grid-col-sm-7 {
        grid-template-columns: repeat(7, 1fr)
    }

    .grid-col-sm-8 {
        grid-template-columns: repeat(8, 1fr)
    }

    .grid-col-sm-9 {
        grid-template-columns: repeat(9, 1fr)
    }

    .grid-col-sm-10 {
        grid-template-columns: repeat(10, 1fr)
    }

    .grid-col-sm-11 {
        grid-template-columns: repeat(11, 1fr)
    }

    .grid-col-sm-12 {
        grid-template-columns: repeat(12, 1fr)
    }

    .grid-gap-sm-0 {
        grid-gap: 0
    }

    .grid-gap-sm-05 {
        grid-gap: .5px
    }

    .grid-gap-sm-1 {
        grid-gap: 1px
    }

    .grid-gap-sm-2 {
        grid-gap: 2px
    }

    .grid-gap-sm-3 {
        grid-gap: 3px
    }

    .grid-gap-sm-1 {
        grid-gap: 1px
    }

    .grid-gap-sm-4 {
        grid-gap: 4px
    }

    .grid-gap-sm-5 {
        grid-gap: 5px
    }

    .grid-gap-sm-6 {
        grid-gap: 6px
    }

    .grid-gap-sm-7 {
        grid-gap: 7px
    }

    .grid-gap-sm-8 {
        grid-gap: 8px
    }

    .grid-gap-sm-9 {
        grid-gap: 9px
    }

    .grid-gap-sm-10 {
        grid-gap: 10px
    }
}

@media(min-width:960px) {
    .d-md-grid {
        display: grid
    }

    .grid-col-md-1 {
        grid-template-columns: repeat(1, 1fr)
    }

    .grid-col-md-2 {
        grid-template-columns: repeat(2, 1fr)
    }

    .grid-col-md-3 {
        grid-template-columns: repeat(3, 1fr)
    }

    .grid-col-md-4 {
        grid-template-columns: repeat(4, 1fr)
    }

    .grid-col-md-5 {
        grid-template-columns: repeat(5, 1fr)
    }

    .grid-col-md-6 {
        grid-template-columns: repeat(6, 1fr)
    }

    .grid-col-md-7 {
        grid-template-columns: repeat(7, 1fr)
    }

    .grid-col-md-8 {
        grid-template-columns: repeat(8, 1fr)
    }

    .grid-col-md-9 {
        grid-template-columns: repeat(9, 1fr)
    }

    .grid-col-md-10 {
        grid-template-columns: repeat(10, 1fr)
    }

    .grid-col-md-11 {
        grid-template-columns: repeat(11, 1fr)
    }

    .grid-col-md-12 {
        grid-template-columns: repeat(12, 1fr)
    }

    .grid-gap-md-0 {
        grid-gap: 0
    }

    .grid-gap-md-05 {
        grid-gap: .5px
    }

    .grid-gap-md-1 {
        grid-gap: 1px
    }

    .grid-gap-md-2 {
        grid-gap: 2px
    }

    .grid-gap-md-3 {
        grid-gap: 3px
    }

    .grid-gap-md-1 {
        grid-gap: 1px
    }

    .grid-gap-md-4 {
        grid-gap: 4px
    }

    .grid-gap-md-5 {
        grid-gap: 5px
    }

    .grid-gap-md-6 {
        grid-gap: 6px
    }

    .grid-gap-md-7 {
        grid-gap: 7px
    }

    .grid-gap-md-8 {
        grid-gap: 8px
    }

    .grid-gap-md-9 {
        grid-gap: 9px
    }

    .grid-gap-md-10 {
        grid-gap: 10px
    }
}

@media(min-width:1024px) {
    .d-lg-grid {
        display: grid
    }

    .grid-col-lg-1 {
        grid-template-columns: repeat(1, 1fr)
    }

    .grid-col-lg-2 {
        grid-template-columns: repeat(2, 1fr)
    }

    .grid-col-lg-3 {
        grid-template-columns: repeat(3, 1fr)
    }

    .grid-col-lg-4 {
        grid-template-columns: repeat(4, 1fr)
    }

    .grid-col-lg-5 {
        grid-template-columns: repeat(5, 1fr)
    }

    .grid-col-lg-6 {
        grid-template-columns: repeat(6, 1fr)
    }

    .grid-col-lg-7 {
        grid-template-columns: repeat(7, 1fr)
    }

    .grid-col-lg-8 {
        grid-template-columns: repeat(8, 1fr)
    }

    .grid-col-lg-9 {
        grid-template-columns: repeat(9, 1fr)
    }

    .grid-col-lg-10 {
        grid-template-columns: repeat(10, 1fr)
    }

    .grid-col-lg-11 {
        grid-template-columns: repeat(11, 1fr)
    }

    .grid-col-lg-12 {
        grid-template-columns: repeat(12, 1fr)
    }

    .grid-gap-lg-0 {
        grid-gap: 0
    }

    .grid-gap-lg-05 {
        grid-gap: .5px
    }

    .grid-gap-lg-1 {
        grid-gap: 1px
    }

    .grid-gap-lg-2 {
        grid-gap: 2px
    }

    .grid-gap-lg-3 {
        grid-gap: 3px
    }

    .grid-gap-lg-1 {
        grid-gap: 1px
    }

    .grid-gap-lg-4 {
        grid-gap: 4px
    }

    .grid-gap-lg-5 {
        grid-gap: 5px
    }

    .grid-gap-lg-6 {
        grid-gap: 6px
    }

    .grid-gap-lg-7 {
        grid-gap: 7px
    }

    .grid-gap-lg-8 {
        grid-gap: 8px
    }

    .grid-gap-lg-9 {
        grid-gap: 9px
    }

    .grid-gap-lg-10 {
        grid-gap: 10px
    }
}

@media(min-width:1680px) {
    .d-xl-grid {
        display: grid
    }

    .grid-col-xl-1 {
        grid-template-columns: repeat(1, 1fr)
    }

    .grid-col-xl-2 {
        grid-template-columns: repeat(2, 1fr)
    }

    .grid-col-xl-3 {
        grid-template-columns: repeat(3, 1fr)
    }

    .grid-col-xl-4 {
        grid-template-columns: repeat(4, 1fr)
    }

    .grid-col-xl-5 {
        grid-template-columns: repeat(5, 1fr)
    }

    .grid-col-xl-6 {
        grid-template-columns: repeat(6, 1fr)
    }

    .grid-col-xl-7 {
        grid-template-columns: repeat(7, 1fr)
    }

    .grid-col-xl-8 {
        grid-template-columns: repeat(8, 1fr)
    }

    .grid-col-xl-9 {
        grid-template-columns: repeat(9, 1fr)
    }

    .grid-col-xl-10 {
        grid-template-columns: repeat(10, 1fr)
    }

    .grid-col-xl-11 {
        grid-template-columns: repeat(11, 1fr)
    }

    .grid-col-xl-12 {
        grid-template-columns: repeat(12, 1fr)
    }

    .grid-gap-xl-0 {
        grid-gap: 0
    }

    .grid-gap-xl-05 {
        grid-gap: .5px
    }

    .grid-gap-xl-1 {
        grid-gap: 1px
    }

    .grid-gap-xl-2 {
        grid-gap: 2px
    }

    .grid-gap-xl-3 {
        grid-gap: 3px
    }

    .grid-gap-xl-1 {
        grid-gap: 1px
    }

    .grid-gap-xl-4 {
        grid-gap: 4px
    }

    .grid-gap-xl-5 {
        grid-gap: 5px
    }

    .grid-gap-xl-6 {
        grid-gap: 6px
    }

    .grid-gap-xl-7 {
        grid-gap: 7px
    }

    .grid-gap-xl-8 {
        grid-gap: 8px
    }

    .grid-gap-xl-9 {
        grid-gap: 9px
    }

    .grid-gap-xl-10 {
        grid-gap: 10px
    }
}